<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>
        {{res.titulo}}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style_formulario.css' ) }}">
</head>

<body>
    <h1>{{res.titulo}}</h1>
    <p>{{res.descripcion}}</p>

    <!-- Create Form -->
    <form id="form" name="formulario" action="javascript:void(0);">

        {% for seccion in res.secciones %}
            <h2>{{seccion.titulo}}</h2>
            {% for pregunta in seccion.preguntas %}
                <div class="form-control">
                    <label>{{ pregunta.numero }} - {{ pregunta.titulo }}</label>
                    <label  for="opcion-si-1">
                        <input class=opcion-{{seccion.id}} type="radio" id="opcion-si-1" value=1 name=opcion-{{pregunta.numero}}-{{seccion.id}} required>Sí</input>
                    </label>
                    <label  for="opcion-no-1">
                        <input class=opcion-{{seccion.id}} type="radio" id="opcion-no-1" value=0 name=opcion-{{pregunta.numero}}-{{seccion.id}}>No</input>
                    </label>
                </div>
            {% endfor %}
        {% endfor %}

        <div >
            <button class="centrar"  onclick="enviar()">
                Enviar
            </button>
        </div>
    </form>

</body>
<script>
    let enviar = function(){
        let lstrespuestas_1 = document.getElementsByClassName("opcion-1")
        let lstrespuestas_2 = document.getElementsByClassName("opcion-2")
        let lstrespuestas_3 = document.getElementsByClassName("opcion-3")

        res_1 = []
        res_2 = []
        res_3 = []

        for (var i = 0; i < lstrespuestas_1.length; i++) {
            if(lstrespuestas_1[i].checked)
                res_1[i] = lstrespuestas_1[i].value
        }

        for (var i = 0; i < lstrespuestas_2.length; i++) {
            if(lstrespuestas_2[i].checked)
                res_2[i] = lstrespuestas_2[i].value
        }

        for (var i = 0; i < lstrespuestas_3.length; i++) {
            if(lstrespuestas_3[i].checked)
                res_3[i] = lstrespuestas_3[i].value
        }

        res_1 = res_1.filter(n=>n)
        res_2 = res_2.filter(n=>n)
        res_3 = res_3.filter(n=>n)

        jsonData = {
            "res1": res_1,
            "res2": res_2,
            "res3": res_3
        }

        console.log(jsonData)

        if(res_1.length >= 20 && res_2.length >= 20 && res_3.length >= 20){
            const options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(jsonData)
            };

            // Petición HTTP
            fetch("http://192.168.1.5:5000/encuesta/calificar", options)
            .then(response => response.text())
            .then(data => {
                alert("Tu resultado fue: "+data)
            });
        }
    }
</script>
</html>
